<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mytest.mapper.StudentMapper">

  <insert id="save" parameterType="mytest.Student">
    INSERT INTO student (`username`,`address`,`age`, `birthday`)
    VALUES (#{username},#{address},#{age},#{birthday})
  </insert>

  <select id="getById" resultType="mytest.Student">
    SELECT * FROM student WHERE id = #{id}
  </select>

  <select id="findByUsernameAndAge" resultType="mytest.Student">
    SELECT * FROM student WHERE username = #{username} AND age = #{age}
  </select>

</mapper>
