<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!--标签有顺序，查看dtd文件-->
    <plugins>
      <plugin interceptor="mytest.TestPlugin">
        <property name="username" value="myplugin perfect"/>
      </plugin>
      <plugin interceptor="mytest.RewriteSQLPlugin">
      </plugin>
    </plugins>


    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://192.168.31.67:3306/mybatis_test?characterEncoding=UTF-8"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!--<mapper resource="mytest/mapper/StudentMapper.xml"/>-->
      <!--包扫描配置的是扫描mapper接口：xml文件必须与mapper在同一个包下面，且名称相同-->
      <package name="mytest/mapper"/>
    </mappers>

</configuration>
